/* Réinitialisation globale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5em;
    color: #004d99; /* Couleur bleue pour l'entête */
}

.form-section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;
}

input, select {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1.1em;
}

button {
    padding: 10px 20px;
    background-color: #004d99; /* Couleur bleue */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    width: 100%;
}

button:hover {
    background-color: #003366;
}

.table-container {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table-container h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f5f5f5;
}

td input {
    width: 100%;
    padding: 5px;
    font-size: 1em;
}

.add-column-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.add-column-btn:hover {
    background-color: #218838;
}

.result-section {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #004d99; /* Couleur bleue pour le titre des résultats */
    margin-bottom: 15px;
}

h4, h5 {
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f5f5f5;
}

.result-section table {
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
}

.result-section table th, .result-section table td {
    text-align: center;
}
